@charset "UTF-8";
@charset "UTF-8";

#header {
	width: 1413px;
	height: 140px;
	background: orange;
}

#header > .new-gnb {
	width: 1410px;
	height: 45px;
	background: green; 
} 
	
#container {
	width: 1413px;
	height: 4807px;
	background: orange;
}

#container>.today_info_bar {
	width: 1413px;
	height: 41px;
	background: green;
}

#news_mata {
	width: 1413px;
	height: 4600px;
	background: green;
}

.news_header {
	width: 1413px;
	height: 181px;
	background: purple;
}

.news_wrap{
	width: 1413px;
	height: 4388px;
	background: yellow;
}

.news_main_content{
	width: 1413px;
	height: 4600px;
	background: green;
	float: left;
}

.left_news{
	width: 750px;
	height: 4600px;
	float: left;
	margin: 10px;
}

.news_summary{
	width: 750px;
	height: 31px;
	background: pink;
	margin: 10px;
}
.news_body{
	width: 750px;
	height: 2595px;
	background: grey;
	margin: 10px;
}
.news_bottom{
	width: 750px;
	height: 31px;
	background: red;
}
.native_ad_wrap{
	width: 750px;
	height: 166px;
	background: blue;
}
.nocut_comment_wrap{
	width: 750px;
	height: 283px;
	background: #D7FF6C;
	margin: 10px;
}
.nocut_main_wrap{
	width: 750px;
	height: 186px;
	background: #FFB85A;
	margin: 10px;
}
.pushnews_widget_wrap{
	width: 750px;
	height: 555px;
	background: #FFC0FF;
	margin: 10px;
}
#setnews_widget {
	width: 750px;
	height: 467px;
	background: #B2EBF4;
	float: left;
	margin: 10px;
}
.news_bottom_menu {
	width: 1380px;
	height: 150px;
	background: #6CC0FF;
	margin: 10px;
	float: left;
}


.smallnews_right{
	width: 620px;
	height: 2600px;
	background: #4641D9;
	float: left;
	margin-left: 10px;
}

.smallnews_right > .ranking_news_wrap{
	width: 610px;
	height: 400px;
	background: #00D8FF;
	margin:10px;
}

.smallnews_right > .related_news_wrap{
	width: 610px;
	height: 400px;
	background: #FF00DD;
	margin: 10px;
}

.smallnews_right > .photo_tv_news_wrap{
	width: 610px;
	height: 400px;
	background: #FFE08C;
	margin: 10px;
}

.smallnews_right > .shopping_box{
	width: 610px;
	height: 400px;
	background: #E5D85C;
	margin: 10px;
}

.smallnews_right > .shopping_box_bottom{
	width: 610px;
	height: 400px;
	background: #FF9595;
	margin: 10px;
}

.copyright {
	width: 1413px;
	height: 100px;
	background: yellow;

	
}

h1, h2, h3,h4{
	display: none;
}