@charset "UTF-8";

.wrap{
	width: 100%;
	height: 3347px;
	background: #D2D2D2;
}

header{
	min-height: 188px;
	background: #E2E2E2;
}

.w_inner{
	width: 1130px;
	height: 32px;
	margin: 0 auto;
	padding: 0 10px;
	background: #B2F2F2;
}
 
.search_bar{
	width: 100%;
	height: 72px;
	background: #D2D2D2;
}

.gnb_wrap{
	width: 100%;
	height: 50px;
	background: #DC143C;
}

.wrap_section{
	width: 100%;
	height: 3074px;
	background: #FFD700;
}

.wrap_align{
	width: 1150px;
	height: 2964px;
	margin: 0 auto;
	padding: 20px 10px 40px;
	background: #B2F2F2;
	position: relative;
}

.left_area{
	width: 750px;
	height: 100%;
	background: #DC143C;
	float: left;
}

.big_banner{
 	width: 750px;
	height: 135px;
	background: #2F4F4F;
	float: left;
}

.newsMenu{
	width: 750px;
	height: 705px;
	margin-top:30px;
	background: #00FFFF;
	float: left;
}

.storyMenu{
	width: 750px;
	height: 462px;
	margin-top:30px;
	background: #006400;
	float: left;
}

.shoppingMenu{
	width: 750px;
	height: 519px;
	margin-top:30px;
	background: #BDB76B;
	float: left;
}

.tvMenu{
	width: 750px;
	height: 531px;
	margin-top:30px;
	background: #FF4500;
	float: left;
}

.photoNewsMenu{
	width: 750px;
	height: 428px;
	margin-top:70px;
	background: #F5DEB3;
	float: left;
}

.right_area{
	width: 350px;
	height: 2229px;
	background: #7CFC00;
	margin-left: 50px;
	float: left;
}

.shoplink_wrap{
	width: 350px;
	height: 135px;
	margin-bottom:18px;
	background: #9932CC;
	float: left;
}

.today_wrap{
	width: 350px;
	height: 135px;
	background: #0000FF;
	float: left;
	
}

.brand_widget{
	width: 350px;
	height: 135px;
	margin-bottom:18px;
	background: #0000FF;
	float: left;
}


.shopping_adbox{
	width: 350px;
	height: 1739px;
	background: #FF00FF;
	margin-top: 433px;
	
}

.wrap > .footer_wrap{
	width: 100%;
	height: 104px;
	background: #00FF7F;
	
	float: left;
	
}



h1, h2, h3, h4{
	display: none;
}