@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#zum_header {
	width: 100%;
	heigth: 56px;
	background-color: white;
}

#zum_header_wrap {
	width: 1170px;
	height: 56px;
	margin: 0 auto;
	background-color: red;
}

#zumSearchBox {
	width: 497px;
	height: 30px;
	background-color: purple;
	float: right;
}

#menu {
	background-color: green;
	width: 1170px;
	height: 44px;
	margin: 0 auto;
}

.market_price {
	background-color: blue;
	width: 1170px;
	height: 75px;
	margin: 0 auto;
}

#container {
	width: 1170px;
	height: 1274px;
	background-color: white;
	margin: 0 auto;
	
}

.area_main_news {
	width: 1170px;
	height: 320px;
	background-color: yellow;
	margin: 0 auto;
}

#slideNewsWrapper {
	width: 810px;
	height: 320px;
	float: left;
	background-color: #ff8000;
}

#box_current_news {
	width: 360px;
	height: 320px;
	float: left;
	background-color: #8080ff;
}

.main_content {
	width: 1170px;
	height: 954px;
	background-color: white;
	margin: 0 auto;
}

.area_conts {
	width: 810px;
	height: 954px;
	float: left;
}

.area_cont1 {
	width: 810px;
	height: 346px;
	background-color: red;
	float: left;
}

.area_cont2 {
	width: 810px;
	height: 254px;
	background-color: green;
	float: left;
}

.area_cont3 {
	width: 810px;
	height: 259px;
	background-color: yellow;
	float: left;
}

.area_cont4 {
	width: 810px;
	height: 95px;
	background-color: blue;
	float: left;
}

.side_content {
	background-color: purple;
	width: 360px;
	height: 696px;
	float: left;
}

.area_cont5 {
	background-color: #80ffff;
	width: 360px;
	height: 250px;
	float: left;
}

.area_cont6 {
	background-color: #ffff80;
	width: 360px;
	height: 446px;
	float: left;
}

#footer {
	background-color: red;
	width: 1170px;
	height: 224px;
	margin: 0 auto;
}